@{
    ViewBag.Title = "Upload File";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File Upload</title>
</head>
<body>
    <div>
        
        
        
        
        @using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" data-val="true" data-val-required="please select a file" id="Submit" value="Upload" />
            @Html.ValidationMessage("Submit")
        }
    </div>
</body>
</html>
