USE [master]
GO
/****** Object:  Database [kpmg]    Script Date: 07/08/2015 15:03:20 ******/
CREATE DATABASE [kpmg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kpmg', FILENAME = N'D:\SQL server 2014\MSSQL12.MSSQLSERVER\MSSQL\DATA\kpmg.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'kpmg_log', FILENAME = N'D:\SQL server 2014\MSSQL12.MSSQLSERVER\MSSQL\DATA\kpmg_log.ldf' , SIZE = 92864KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kpmg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
CREATE LOGIN [kpmguser] WITH PASSWORD=N'kpmguser', DEFAULT_DATABASE=[kpmg], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
USE [kpmg]
GO
/****** Object:  User [kpmguser]    Script Date: 07/08/2015 15:03:20 ******/
CREATE USER [kpmguser] FOR LOGIN [kpmguser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [kpmguser]
GO
GRANT CONNECT TO [kpmguser] AS [dbo]
GO
/****** Object:  Table [dbo].[KPMG_Accounts]    Script Date: 07/08/2015 15:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KPMG_Accounts](
	[Account] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[CurrencyCode] [nchar](3) NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_KPMG_Accounts] PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KPMG_Invalid_Accounts]    Script Date: 07/08/2015 15:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPMG_Invalid_Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[CurrencyCode] [nchar](3) NULL,
	[Amount] [decimal](18, 0) NULL,
	[Reason] [nvarchar](max) NULL,
 CONSTRAINT [PK_KPMG_Invalid_Accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
